@model PersonalFinances.BUSINESS.ViewModels.BalanceSheetTab

    
    @{
        string overallTtotal=decimal.Round(Model.totalDec, 2, MidpointRounding.AwayFromZero).ToString();

    }
      
    <h3>Overall @ViewBag.Type Value: @overallTtotal €</h3> 
   

    @{
        string isAsset = (ViewBag.Type == "ASSETS")?"true":"false";

     } 
    <table class="listTable">
        <tbody>
        
            @foreach (var line in Model.report)
            {

                string total=decimal.Round(line.total, 2, MidpointRounding.AwayFromZero).ToString();


                if (line.bitmap==1)
                {
                    <tr type="trIncome"  category="@line.category.Trim()" isExpense="@isAsset" subcategory ="" class="category">
                        <td colspan="2">
                            @line.category.ToUpper()
                        </td>
                        <td>
                            @total €
                        </td>
                    </tr>
                }
                if (line.bitmap == 0)
                {    
                    <tr type="trIncome" category="@line.category.Trim()" isExpense="@isAsset" subcategory ="@line.subcategory.Trim()">
                        <td>
                                @line.subcategory
                        </td>
                        <td>
                                @total €
                        </td>
                            
                        <td>
                        </td>
                       
                    </tr>
                }
            } 
              
        </tbody>
    </table>   
    




