@model PersonalFinances.BUSINESS.ViewModels.RecordModel

<div class="col-md-6">

    <div class="row"><h1>@ViewBag.FromTo</h1></div>
        
    <div class="row">
        <label>Category</label>
        <select class = "form-control input-lg" id="recordCategoryId_@ViewBag.FromTo">
            <option value="">*</option>
            @foreach (var cat in Model.categories)
            {

                string isExpense = (cat.isExpense) ? "true" : "false";
                <option value="@cat.recordCategoryId" isExpense="@isExpense">@cat.description</option>
            }
        </select>
    </div>
    <div>
        <label>Subcategory</label>
        <select class = "form-control input-lg" id="recordSubcategoryId_@ViewBag.FromTo">
            <option value="">*</option>
            @foreach (var subcat in Model.subcategories)
            {
                <option value="@subcat.recordSubcategoryId"
                        categoryId="@subcat.recordCategoryId">
                    @subcat.description
                    </option>
            }
        </select>
    </div>

    
</div>


     