@model PersonalFinances.BUSINESS.ViewModels.DossierDetailsModel


<div class="jumbotron">
    <div class="row">
        <h1>WELCOME @Model.UserName </h1>
        <h2>MANAGE YOUR DOSSIER, @Model.Dossier.dossierName</h2>
    </div>

    <div class="row">
        <ul class="nav nav-pills">
            <li><a href="@Url.Action("Index", "Record", new { dossierId=Model.Dossier.dossierId, beginDate=Model.FirstDate, endDate=Model.LastDate})" class="btn btn-primary btn-lg">Financial Records&raquo;</a></li>
            <li><a href="@Url.Action("Index", "RecordTmp", new { dossierId=Model.Dossier.dossierId})" class="btn btn-primary btn-lg">Import Records&raquo;</a></li>
            <li><a href="@Url.Action("Index", "Asset", new { dossierId=Model.Dossier.dossierId})" class="btn btn-primary btn-lg">Assets&raquo;</a></li>
            <li><a href="" class="btn btn-primary btn-lg">Bank accounts&raquo;</a></li>
            <li><a href="@Url.Action("Delete", new { dossierId=Model.Dossier.dossierId})" class="btn btn-danger btn-lg">Delete dossier&raquo;</a></li>
            <li><a href="@Url.Action("Index","Home")" class="btn btn-primary btn-lg">Back to Main&raquo;</a></li>

        </ul>
    </div>


</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#statistics" role="tab" data-toggle="tab">Statistics</a></li>
    <li><a href="#piechart" role="tab" data-toggle="tab">Pie Chart</a></li>
    <li><a href="#vertical" role="tab" data-toggle="tab">Yearly expenses</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="statistics">

        @{

            decimal CashFlow = Model.OverallRevenuesLast365 - Model.OverallExpensesLast365;
            string color = (CashFlow > 0) ? "black" : "red";
            string cashflow = decimal.Round(CashFlow, 2, MidpointRounding.AwayFromZero).ToString();
            string expenses = decimal.Round(Model.OverallExpensesLast365, 2, MidpointRounding.AwayFromZero).ToString();
            string revenues = decimal.Round(Model.OverallRevenuesLast365, 2, MidpointRounding.AwayFromZero).ToString();
            string daily = decimal.Round(Model.AverageExpensePerDay, 2, MidpointRounding.AwayFromZero).ToString();
            string monthly = decimal.Round(Model.AverageExpensePerMonth, 2, MidpointRounding.AwayFromZero).ToString();
        }

        <h1><strong>Your statistics (last 365 days)</strong></h1>
        <h2>Expenses: @expenses €</h2>
        <h2>Revenues: @revenues €</h2>
        <h2>Daily spending: @daily €</h2>
        <h2>Monthly spending: @monthly €</h2>
        <h1><strong>Net Cash Flow: <span style="color:@color">@cashflow €</span></strong></h1>

    </div>
    <div class="tab-pane" id="piechart">
        <div class="row">

           
           
            @Html.Action("PieChartData", new { dossierId = Model.Dossier.dossierId, beginDate = Model.FirstDate, endDate = Model.LastDate, isExpense = true })

            
        </div>

    </div>
    <div class="tab-pane" id="vertical">
        <div class="row">
            @*<div id="chart_div" style="width: 900px; height: 500px;"></div>*@
            <div id="chart_div"></div>

        </div>

    </div>
</div>






        @section Scripts{


            <script src="~/Scripts/piechart.js"></script>
            <script src="~/Scripts/charts/charts_loader.js"></script>

            <script type="text/javascript">
                google.charts.load('current', { 'packages': ['corechart'] });
                google.charts.setOnLoadCallback(drawVisualization);

                function drawVisualization() {
                    // Some raw data (not necessarily accurate)
                    var data = google.visualization.arrayToDataTable([

                        @{
                            string table = Model.JSDataArray;


                        }

                        @Html.Raw(table)




                        //['year', 'cibo', 'internet/TV', 'trasporti', 'abbigliamento'],
                        //['2013', 1609.3600, 658.7100, 1142.0100, 0],
                        //['2014', 4851.2100, 1129.4500,2101.8500, 255.3300],
                        //['2015', 4764.8700, 1715.6300, 1993.6600, 536.7900],
                        //['2016', 5301.7500, 1827.8300, 2595.5000, 661.8600]


                        //['Month', 'Bolivia', 'Ecuador', 'Madagascar', 'Papua New Guinea', 'Rwanda'],
                        //['2004/05', 165, 938, 522, 998, 450],
                        //['2005/06', 135, 1120, 599, 1268, 288],
                        //['2006/07', 157, 1167, 587, 807, 397],
                        //['2007/08', 139, 1110, 615, 968, 215],
                        //['2008/09', 136, 691, 629, 1026, 366]
                    ]);


                    //var options = {
                    //    title: 'Company Performance'
                    //    , width: 900
                    //    , height: 500
                    //};


                    var options = {
                        title: 'Yearly spending per category',
                        vAxis: { title: '€' },
                        hAxis: { title: 'year' },
                        width: 900,
                         height: 500,
                        seriesType: 'bars',
                        series: { 5: { type: 'line' } }
                    };

                    var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                    chart.draw(data, options);
                }
            </script>


        }
