@model PersonalFinances.BUSINESS.ViewModels.ListAssetsModel

<div class="jumbotron">
    <h1>ASSETS/LIABILITIES</h1>

    <div class="row">
        <ul class="nav nav-pills">
            <li><a href="@Url.Action("Details","Dossier",new { dossierId=Model.DossierId})" class="btn btn-primary btn-lg">Back to Dossier&raquo;</a></li>

            <li>
                <a href="@Url.Action("Index","assetCategory",new { dossierId=Model.DossierId})" class="btn btn-primary btn-lg">Handle Categories&raquo;</a>
            </li>

            <li>
                <a href="" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#CreateAssetModal">New Asset&raquo;</a>
            </li>

            <li>
                <a href="" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#CreateLiabilityModal">New Liability&raquo;</a>
            </li>

        </ul>
    </div>

</div>


   
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#assets">Assets / Liabilities</a></li>
    <li><a data-toggle="tab" href="#balancesheet">Balance Sheet</a></li>
    @*<li><a data-toggle="tab" href="#menu2"><h2>Menu 2</h2></a></li>*@
</ul>

<div class="tab-content">
   
    @if (Model.ListAssets.Count > 0)
    {

        <div id="assets" class="tab-pane fade in active">
            <table class="listTable">
                <tr>
                    @*<th>
                            External ID
                        </th>*@
                    <th>
                        Description
                    </th>
                    <th>
                        Asset Value
                    </th>
                    <th>
                        Liability
                    </th>

                    <th>
                        Category
                    </th>

                    <th>
                        Subcategory
                    </th>
                    <th>
                    </th>
                </tr>

                @foreach (var item in Model.ListAssets)
                {
                    <tr id="tr_@item.assetId" description="@item.description" receivable="@item.receivable" payable="@item.payable" assetSubcategoryId="@item.assetSubcategoryId">
                        @*<td>
                               @Html.DisplayFor(modelItem => item.externalId)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.receivable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.payable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.assetCategoryDes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.assetSubcategoryDes)
                        </td>

                        <td>


                            <a class="btn btn-primary btn-sm" href="@Url.Action("Edit", new { dossierId = Model.DossierId, assetId = item.assetId })">Edit</a>
                            <a class="btn btn-danger btn-sm" href="@Url.Action( "Delete", new { dossierId = Model.DossierId, assetId = item.assetId })">Delete</a>


                        </td>
                    </tr>
                }

            </table>
        </div>

    }
    else
    {
        <h1>No Asset found</h1>
    }


    <div id="balancesheet" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-offset-1 col-lg-4 col-lg-offset-1">
                @{
                    ViewBag.Type = "ASSETS";
                    PersonalFinances.BUSINESS.ViewModels.BalanceSheetTab ReportAssets = Model.ReportAssets;

                }
                @Html.Partial(partialViewName: "_balanceSheetTab", model: ReportAssets)

            </div>

            <div class="col-lg-offset-1 col-lg-4 col-lg-offset-1">

                @{
                    ViewBag.Type = "LIABILITIES";
                    PersonalFinances.BUSINESS.ViewModels.BalanceSheetTab ReportLiabilities = Model.ReportLiabilities;

                }
                @Html.Partial(partialViewName: "_balanceSheetTab", model: ReportLiabilities)

            </div>
        </div>

    </div>
    @*<div id="menu2" class="tab-pane fade">
        <p>Some content in menu 2.</p>
    </div>*@
</div>




<!-- Modal Create Asset-->

@{
    ViewBag.OperationType = "Create";

    var assetCreate = PersonalFinances.BUSINESS.ViewModels.AssetModel.GetAssetModel(Model.DossierId, 0);
    assetCreate.isAsset = true;

}

@Html.Partial(partialViewName: "_EditCreate", model: assetCreate)


<!-- Modal Create Liability-->

@{
    ViewBag.OperationType = "Create";

    var LiabilityCreate = PersonalFinances.BUSINESS.ViewModels.AssetModel.GetAssetModel(Model.DossierId, 0);
    assetCreate.isAsset = false;

}

@Html.Partial(partialViewName: "_EditCreate", model: LiabilityCreate)



 @section Scripts
 {


 }


