@model PersonalFinances.BUSINESS.ViewModels.IncomeStatementTab

    
    @{
        string overallTtotal=decimal.Round(Model.totalDec, 2, MidpointRounding.AwayFromZero).ToString();

    }
      
    <h3>Overall @ViewBag.Type : @overallTtotal €</h3> 
    <h4>From @Model.beginDate To @Model.endDate</h4>

    @{
        string isExpense = (ViewBag.Type == "EXPENSES")?"true":"false";

     } 
    <table class="listTable">
        @*<thead>
            <th></th>
            <th></th>
            <th></th>
        </thead>*@
        <tbody>
        
            @foreach (var line in Model.report)
            {

                string total=decimal.Round(line.total, 2, MidpointRounding.AwayFromZero).ToString();


                if (line.bitmap==1)
                {
                    <tr type="trIncome" beginDate="@Model.beginDate" endDate="@Model.endDate" category="@line.category.Trim()" isExpense="@isExpense" subcategory ="" class="category">
                        <td colspan="2">
                            @line.category.ToUpper()
                        </td>
                        <td>
                            @total €
                        </td>
                    </tr>
                }
                if (line.bitmap == 0)
                {    
                    <tr type="trIncome" beginDate="@Model.beginDate" endDate="@Model.endDate" category="@line.category.Trim()" isExpense="@isExpense" subcategory ="@line.subcategory.Trim()">
                        <td>
                                @line.subcategory
                        </td>
                        <td>
                                @total €
                        </td>
                            
                        <td>
                        </td>
                       
                    </tr>
                }
            } 
              
        </tbody>
    </table>   
    




