@model PersonalFinances.BUSINESS.ViewModels.NavigationData


@if (Model.CurrentPage > 1)
{
    <a class="btn-primary btn-sm" href="@Url.Action("Index", new { dossierId = Model.DossierId, beginDate=Model.beginDate, endDate=Model.endDate, CurrentPage = 1, ItemsPerPage = Model.ItemsPerPage, IsPostBack = true })">&laquo;</a>
    int previousPage = Model.CurrentPage - 1;
    <a  class="btn-primary btn-sm"  href="@Url.Action("Index", new { dossierId = Model.DossierId, beginDate=Model.beginDate, endDate=Model.endDate, CurrentPage = previousPage, ItemsPerPage = Model.ItemsPerPage, IsPostBack = true })">&lsaquo;</a>

}
else
{
    <a  class="btn-primary btn-sm" href="">&laquo;</a>
    <a  class="btn-primary btn-sm" href="">&lsaquo;</a>
}


<span>@Model.CurrentPage /@Model.TotalNumberOfPages</span>


@if (Model.CurrentPage < Model.TotalNumberOfPages)
{

    int nextPage = Model.CurrentPage + 1;

    <a  class="btn-primary btn-sm" href="@Url.Action("Index", new { dossierId = Model.DossierId, beginDate=Model.beginDate, endDate=Model.endDate, CurrentPage = nextPage, ItemsPerPage = Model.ItemsPerPage, IsPostBack = true })">&rsaquo;</a>
    <a  class="btn-primary btn-sm" href="@Url.Action("Index", new { dossierId = Model.DossierId, beginDate=Model.beginDate, endDate=Model.endDate, CurrentPage = Model.TotalNumberOfPages, ItemsPerPage = Model.ItemsPerPage, IsPostBack = true })">&raquo;</a>

}
else
{
    <a class="btn-primary btn-sm" href="">&rsaquo;</a>
    <a class="btn-primary btn-sm" href="">&raquo;</a>
}

<label>Go to page:</label>
<input id="txtCurrentPage" class="input-sm" type="text" value="@Model.CurrentPage" />
